<!DOCTYPE html>
<html>
<head>
    <title> Chess Miquel Toran</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/peon.png" />
    <link rel="stylesheet" href="css/chess.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf8" src="Javascript/client.js"></script>
    <script type="text/javascript" charset="utf8" src="Javascript/three.js-master/three.min.js"></script>
    <script type="text/javascript" charset="utf8" src="Javascript/three.js-master/OrbitControls.js"></script>
    <script type="text/javascript" charset="utf8" src="Javascript/three.js-master/TextureLoader.js"></script>
    <script type="text/javascript" charset="utf8" src="Javascript/three.js"></script>
</head>
<script>
    socket.emit('getData', {nick: '<%= user.nick %>', elo: '<%= user.elo %>'});
    socket.on('mate', (info) => {
        setTimeout(() => {
            let html = "";
            let color = ["blancas", "negras"];
            informe.style.display = "grid";
            html = `<div>Han ganado las ${color[info.turn]} !</div>`;
            html += `<div>${info.player1.nick} <span id='green'>+30</span></div>`;
            html += `<div>${info.player2.nick} <span id='red'>-30</span></div>`;
            html += `<div id='volver'>Volver</div>`;
            informe.innerHTML = html;
            volver.addEventListener('click', () => location.reload());
        }, 1000)
    });
    socket.on('empate', (info) => {
        setTimeout(() => {
            let html = "";
            let color = ["blancas", "negras"];
            informe.style.display = "grid";
            html = `<div> Tablas! </div>`;
            html += `<div>${info.player1.nick} <span id='green'>+0</span></div>`;
            html += `<div>${info.player2.nick} <span id='red'>+0</span></div>`;
            html += `<div id='volver'>Volver</div>`;
            informe.innerHTML = html;
            volver.addEventListener('click', () => location.reload());
        }, 1000)
    });
</script>
<body>
    <div id="chat">
        <div class="boton" tablas="false">Tablas</div>        
        <div class="boton">Abandonar</div>  
        <div id="contchat"></div>  
        <input id="msg" type="text">
        <div class="boton">Enviar</div>
    </div>
    <div id="informe">
    </div>
    <div id="menu">
        <div> PERFIL </div>
        <div> RANKING </div>   
        <div> HOME </div>
        <% if (user) { %>
        <div> <%= user.nick %></div>
        <% } %>
        <div> LOGOUT</div>
    </div>
    <div id="board3D"></div>
    <div id="multiplayer">
        <div id="crearysalir">
            <input type="button" name="Crear" value="Crear Sala">
            <input id="tiempo" min="1" max="60" type="number" value="10">
            <select id="modalidad">
                <option value="Normal">Normal</option>
                <option value="Spin">Spin</option>
                <option value="Messy">Messy</option>
            </select>
            <input type="button" name="Salir" value="Salir">
        </div>
        <div id="taula"></div>
    </div>
</body>
</html>

















