html, body{
    transition: 1s;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #292929;
    font-family: Montserrat, sans-serif;
}

#multiplayer {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 50%;
    height: 700px;          
    overflow-y: auto;
}

#crearysalir {
    display: block;
    margin-top: 20px;
}
#crearysalir * {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#modalidad {
    padding: 0px;
}
table{
    width: 100%;
    border-spacing: 0; 
    text-align: center;
}
input {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

#taula tr:nth-child(even){background-color: red;}

table td:nth-child(even) {
    background-color: lightgray;
}

input[value="Entrar"] {
    padding: 20px;
}


#taula td, #taula th{
    padding: 20px;
    background-color: white;
}

#board3D {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
